{% extends "base.twig" %}

{% block form %}
    <form method="post">
        <h2 class="FIAP"> RESETAR SENHA </h2>
        <h3>Sua chave expirou, faça o processo novamente <a href="{{ url_base }}esqueci_senha.php">clicando aqui</a></h3><br>
    </form>
{% endblock %}
